.aboutPage-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 70px; 
    color: #fff;
    /* Effet de volume */
    text-shadow: 10px 2px 2px #EBC972; /* Décalage horizontal, décalage vertical, flou et couleur du texte d'ombre */
}

.aboutPage-first{
    font-size: 30px;
    color:#80e3cf;
    font-family: 'Sriracha', cursive;
    text-align: center;
    margin: 15vw;
}

.aboutPage-second{
    font-size: 30px;
    color:#80e3cf;
    font-family: 'Sriracha', cursive;
    text-align: center;
    margin: 15vw;
}

.aboutPage-third{
    font-size: 30px;
    color:#80e3cf;
    font-family: 'Sriracha', cursive;
    text-align: center;
    margin: 20vw;
}

@media screen and (max-width: 768px) {
    /* Réglez les styles spécifiques aux petits écrans ici */
  
    .aboutPage-title {
      font-size: 40px; /* Réduisez la taille du titre */
    }
  
    .aboutPage-first,
    .aboutPage-second,
    .aboutPage-third {
      font-size: 15px; /* Réduisez la taille du texte */
      margin: 10vw; /* Réduisez la marge */
    }
  }