@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:ital,wght@1,900&family=Ranchers&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Sriracha&display=swap');


.exppage-container{
  background: linear-gradient(#fff8f4, #605d5d);
  width: 100%;
}

.exppage-description img {
    width: 40; 
    height: 40vh; 
  }

  .exppage-description{
    font-family: 'Poppins', cursive;
    text-align: center;
    list-style: none;
    font-size: 30px;
    border-left:10px solid #b79e5d;
    border-right:10px solid #b79e5d;
  }
  
.exppage-description p{
  color:#000000;
  margin-left: 20%;
  margin-right: 20%;
}

.exp-title{
  margin-bottom: 20px;
}

.exp-description{
padding-bottom: 50px;
font-size: 20px;
}

@media screen and (max-width: 768px) {


  .exppage-description img {
    width: 100%; 
    height: auto;
  }

  .exppage-description {
    font-size: 20px; /* Réduisez la taille du texte */
    margin-left: 5%; /* Réduisez la marge gauche */
    margin-right: 5%; /* Réduisez la marge droite */
    border-left: 5px solid #b79e5d; /* Réduisez l'épaisseur de la bordure gauche */
    border-right: 5px solid #b79e5d; /* Réduisez l'épaisseur de la bordure droite */
  }
}
