@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:ital,wght@1,900&family=Ranchers&display=swap');





.header-style {
  position: relative;
}



.icon-header,
.icon-header1,
.icon-header2 {
  position: absolute;
  top: 0;
  transition: background-color 0.3s ease;

}

.img-header1,
.img-header {
  width: 50px; 
  height: auto; 
}

.img-header2{
  width: 90px;
  height: auto;
}

.icon-header{
margin-top: 20px;
left: 20px;
}

.icon-header1 {
  margin-top: 20px;
  left: 130px; 
}

.icon-header2{
  margin-top: 20px;
  left: 230px;
}
 
  
  .icon-header:hover{
    background-color: rgb(186, 217, 249);
    border-radius: 20% 20%;
    opacity: 50%;
  }
    
  .icon-header1:hover{
    background-color: rgb(186, 217, 249);
    border-radius: 20% 20%;
    opacity: 50%;
  }

  .icon-header2:hover{
    background-color: rgb(186, 217, 249);
     border-radius: 20% 20%;
     opacity: 50%;
  }



  
.homepage-img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  opacity: 100%;
  pointer-events: none;

}

.title-banner {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: absolute;
  font-size: 80px;
  top: 35%; 
  left: 15%; 
  transform: translate(-50%, -50%); 
  margin: 0;
  padding: 20px;
  color: #fff;

}


.banner{
  text-align: center;
  position: absolute;
  font-size: 20px;
  bottom: 25%; 
  right: 1%; 
  transform: translate(
    -50%,
    -50%
  ); 
  margin: 70px ;
  /* padding: 20px;  */
  width: 35%;
}

.home-presentation{
position: absolute;
top: 45%;
left: 20%;
}

.home-description{
  position: absolute;
  top: 45%;
  left: 10%;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  font-size: 50px;
}

.home-direction{

}

.click{
font-size: 18px;

}

.home-section{
  position: absolute;
  /* background-color: #00000073; */
  background: linear-gradient(#ababab, #605d5d);
  padding: 15px;
  top: 15%;
  left: 70%;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  font-size: 25px;
}

.home-section1{
  position: absolute;
  /* background-color: #00000073; */
  background: linear-gradient(#ababab, #605d5d);
  padding: 15px;
  top: 30%;
  left: 70%;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  font-size: 25px;
}

ul.navigation-style, ul.navigation-list {
 
  color: aliceblue;
  margin: 0;
  padding: 20px;
  list-style: none;
}

.navigation-list .navigation-style li a:hover {
  color:cornflowerblue; 
}

.navigation-list .navigation-style li a:active {
  color: darkblue; 
}

.navigation-style {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  gap: 8em;
  top: 90%; 
  right: 10px; 
}



.navigation-list a {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
}

.navigation-style li a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}


.homepage-symbole{
  width: 1000px;
}

.homepage-infos{

  gap: 20px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.home-txt {
  color: grey;
}


.title-description{
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

.title2{
  font-size: 27px;
}

.homepage-infos p{
  font-family: 'Poppins', sans-serif;
  font-weight:5500;
  line-height: 1.5;
  padding: 15px;
}

.homepage-infos img{
  width: 25%;
  padding: 20px;
}


.home-img {
  text-align: center;

  border-radius: 50%; 
  overflow: hidden; 
  width: 300px; 
  height: 300px; 
}


.home-img img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}




h3 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.homepage-buttons {
  background-color: #F5DD90;
}

.homepage-buttons1 {
  background-color: rgb(208, 185, 169);
}

.homepage-buttons button {
  margin: 10px;
}

.button-click {
  
  font-family: 'Poppins', sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;

  height: 60px; 
  border-bottom: 2px solid rgb(130, 183, 230);
  background: none;

  height: 100%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s ease;
  font-size: 30px;
  color: #000000;
  opacity: 80%; 
 
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

.button-click2 {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
 
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(130, 183, 230);
  background: none;

  cursor: pointer;

  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s ease;
  font-size: 30px;
  color: #000000;
  opacity: 80%;

  transition: opacity 0.3s ease, transform 0.3s ease; 
}


.button-click:hover{
  color: #b79e5d;
  opacity: 1; 
  transform: translateY(0); 
}

.button-click:active{
  color: blue;
}


.project-list-enter {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.project-list-enter-active {
  opacity: 0.1;
  transform: translateY(10px);
}


.project-list-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.project-list-exit-active {
  opacity: 0;
  transform: translateY(-10px);
}



.button-click2:hover{
  color: #b79e5d;
  opacity: 1; 
  transform: translateY(0); 
}

.button-click2:active{
  color: blue;
}


@media screen and (max-width: 768px) {
  .homepage-img {
    height: 30vh; /* Réduisez la hauteur de l'image pour les petits écrans */
  }

  .icon-header {
    left: 75%; /* Ajustez la position pour les écrans plus petits */
  }

  .icon-header1 {
    left: 88%; /* Ajustez la position pour les écrans plus petits */
  }

  .icon-header2 {
    left: 55%; /* Ajustez la position pour les écrans plus petits */
  }

  .img-header2{
    width: 80px;
  }

  .img-header,
  .img-header1 {
    width: 40px; /* Ajustez la taille pour les écrans plus petits */
  }


  .home-img {
    width: 150px; /* Adjust the width of your image for smaller screens */
    height: 150px; /* Adjust the height of your image for smaller screens */
  }

  /* voir si je peux faire quelque chose dans ce code */
  .home-description1 {
    top: 70%; /* Adjust the vertical position of the description for smaller screens */
    font-size: 18px; /* Adjust the font size for smaller screens */
    margin-left: 10%; /* Adjust the left margin for smaller screens */
    margin-right: 10%; /* Adjust the right margin for smaller screens */
  }

  .title-banner {
    margin-top: 50px;
    top: 40%;
    font-size: 20px; /* Réduisez la taille de la police pour les petits écrans */
    top: 15%; /* Ajustez la position du titre */
    text-shadow: 10px 2px 2px rgba(235, 201, 114, 0.15);
  }

  .banner {
    font-size: 16px; /* Réduisez la taille de la police pour les petits écrans */
    bottom: 10%; /* Ajustez la position du titre */
  }

  .button-click,
  .button-click2 {
    font-size: 20px; /* Réduisez la taille de la police pour les petits écrans */
  }

  .button-click2 {
    margin-bottom: 10px; /* Ajustez l'espacement entre les boutons */
  } 

  .home-presentation img {
    display: none;
  }

  .home-presentation{
    font-size: 0px;
  }


  ul.navigation-style, ul.navigation-list {
    position: absolute;
    color: aliceblue;
    margin: 0;
    font-size: 13px;
    gap: 2px;
    top: 22%;
    left: 10%;
    padding: 20px;
    list-style: none;
  }

.home-direction{
  display: none;
}

.click{
  display: none;
}

  .home-description {
   display: none;
  }

  .home-section {
    display: none;
  }
  .home-section1{
    display: none;
  }

  /* Ajustez d'autres styles au besoin pour une meilleure adaptation aux téléphones mobiles */
}





