@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:ital,wght@1,900&family=Ranchers&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Sriracha&display=swap');



.langpage-box{
  font-family: 'Sriracha', cursive;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: circle;
    margin-left: 20px;
  }
  
  /* Ajoutez un conteneur pour le texte */
  .lang-description {
    display: flex;
    align-items: center; /* Centrez verticalement les éléments */
    margin-bottom: 20px; /* Espacement entre les éléments */
  }
  
  /* Appliquez une flexibilité aux éléments internes */
  .lang-description img {
    max-width: 100px; /* Ajustez la largeur de l'image selon vos besoins */
    margin-right: 20px; /* Espacement entre l'image et le texte */
  }
  
  /* Le paragraphe (p) sera à droite de l'image */
  .lang-description p {
    flex: 1; /* Occupe l'espace disponible restant */
    text-align: left; /* Alignez le texte à gauche */
  }

  .lang-description h2{
    margin: 30px;
    
  }
  
  /* Styles par défaut */

/* Ajoutez vos styles par défaut ici */

/* Media query pour les écrans plus petits, comme les téléphones mobiles */
@media screen and (max-width: 768px) {

  .langpage-container{
    margin-left: 15px;
    margin-right: 5px;
  }
  .langpage-box {
    font-family: 'Sriracha', cursive;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: circle;
  }

  /* Ajoutez des styles spécifiques pour les petits écrans ici */

  /* Réduisez la marge autour des éléments */
  .lang-description {
    display: flex;
    flex-direction: column; /* Changez la direction de la flexbox pour une disposition en colonne */
    align-items: center; /* Centrez les éléments horizontalement */
    margin-bottom: 10px; /* Réduisez l'espacement entre les éléments */
  }

  /* Réduisez la largeur maximale de l'image pour qu'elle s'adapte à la largeur de l'écran */
  .lang-description img {
    max-width: 50%; /* Ajustez la largeur maximale de l'image selon vos besoins */
    margin-right: 0; /* Réinitialisez la marge de l'image */
  }

  /* Réduisez la marge autour du titre (h2) */
  .lang-description h2 {
    margin: 10px; /* Ajoutez de l'espacement autour du titre */
  }
}
