@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:ital,wght@1,900&family=Ranchers&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Sriracha&display=swap');



ul{
   color: aliceblue;
}

.projectpage-list{
  font-family: 'Sriracha', cursive;
  list-style: none;
  text-align: center;
}

.projectpage-container {
   display: flex;
   justify-content: space-between;
   list-style: none;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 20px; /* Espacement entre les éléments */
 }
 
 .projectpage-container img {
  gap: 20px;
  max-width: 45%; /* Pour éviter le débordement des images */
 }

 .project-firstimg{
  margin-right:20px ;
  height: vh;

 }

 .project-secondimg{
  margin-left:20px;
 }


 .projectpage-img{
  gap: 20px;
  margin-right: 20px;
 }
 
 .projectpage-container h2 {
   flex: 1; /* Le h2 prend autant d'espace que possible */
 }
 
 .projectpage-container p {
   flex: 1; /* Le paragraphe prend autant d'espace que possible */
 }
 
 /* Styles par défaut */

/* Ajoutez vos styles par défaut ici */

/* Media query pour les écrans plus petits, comme les téléphones mobiles */
@media screen and (max-width: 768px) {
  .projectpage-container {
    margin-left: 20px;
    flex-direction: column; /* Changez la direction de la flexbox pour une disposition en colonne */
    gap: 10px; /* Réduisez l'espacement entre les éléments */
    align-items: center; /* Centrez les éléments horizontalement */
  }

  .projectpage-list {
    text-align: center; /* Centrez le texte horizontalement */
  }

  .projectpage-container img {
    max-width: 100%; /* Ajustez la largeur maximale des images pour qu'elles s'adaptent à la largeur de l'écran */
    margin: 10px 0; /* Ajoutez de l'espacement autour des images */
  }

  .project-firstimg {
    margin-right: 0; /* Réinitialisez la marge de la première image */
  }

  .project-secondimg {
    margin-left: 0; /* Réinitialisez la marge de la deuxième image */
  }
}
