@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:ital,wght@1,900&family=Ranchers&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Sriracha&display=swap');


.about-tap{
  font-family: 'Sriracha', cursive;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  grid-gap: 20px; /* Espacement entre les éléments */
  margin-left: auto;
  margin-right: auto;
}


.about-box{
    font-family: 'Sriracha', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    text-align: center;
    background-color:#1f2349;
}


.icon-box.last-icon-box {
    justify-content: flex-end; /* Alignez la dernière boîte à droite */
  }

  .about-box button {
    margin-bottom: 10px; /* Espacement entre l'image et le texte */
    border:10px solid #b79e5d;
  }
  
  .about-tap img {
    background-color:#1f2349
  }
  
  .about-description {
    color: #80e3cf;
    text-align: center; /* Alignez le texte au centre */
    align-self: flex-end; /* Aligner le texte en bas */
    margin-top: auto; /* Pour pousser le texte vers le bas */
  }

  .custom-link {
    color: #3498db; 
    text-decoration: none; 
  }