@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:ital,wght@1,900&family=Ranchers&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Sriracha&display=swap');


.about-tap{
  font-family: 'Sriracha', cursive;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; /* Centrer le contenu verticalement */
  text-align: center; /* Centrer le texte horizontalement */
  gap: 60px ;
}

.about-box{
    font-family: 'Sriracha', cursive;
    align-items: center;
    font-size: 35px;
    text-align: center;
    background-color:#1f2349;
    
}

.about-description{
  padding: 0;
  color: #80e3cf;
}


.icon-box.last-icon-box {
    justify-content: flex-end; /* Alignez la dernière boîte à droite */
  }

  .about-box button {
    margin-top: 10px;
    border:10px solid #b79e5d;
    padding: 0;
  }
  
  .about-tap img {
    background-color:#1f2349;

  }
  
  .about-description {
    text-align: center; 
    margin-top: auto; 
  }

  .custom-link {
    color: #3498db; 
  }

  .custom-link:hover{
  color: gold;
  background-color: black;
}



/* Media query pour les écrans plus petits, comme les téléphones mobiles */
@media screen and (max-width: 768px) {
  .about-tap {
    flex-direction: column; /* Changez la direction de la flexbox pour une disposition en colonne */
    gap: 20px; /* Réduisez l'espacement entre les éléments */
  }

  .about-box {
    font-size: 20px; /* Réduisez la taille de la police pour les petits écrans */
    margin-bottom: 20px; /* Réduisez la marge entre les boîtes */
  }

  .about-box button {
    margin-top: 5px; /* Réduisez l'espacement entre l'image et le texte */
    font-size: 16px; /* Réduisez la taille de la police pour les petits écrans */
  }

  /* Réduisez la taille de l'image */
  .about-box img {
    max-width: 300px; /* Ajustez la largeur de l'image selon vos besoins */
  }
}
