@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:ital,wght@1,900&family=Ranchers&display=swap');




.footer-infos {
  font-family: 'Sriracha', cursive;
  background-color: #EBC972;
  opacity: 70%;
  display: flex;
  justify-content: space-around;
  color: #1f2349;
  font-weight: bolder;
  padding: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-infos:hover{
  opacity: 100%;
  
}
