.header-container {
  background-color: rgb(29, 32, 34, 0.45);
  border: 10px solid violet;
}

.weight {
  display: flex;
  justify-content: end;
  font-weight: bolder;
  color: goldenrod;
  padding-right: 20px;
}

.weight:hover{
  background-color: black;
}

.header-infos {
  display: flex;

  font-size: 20px;
}

.header-title {
  text-align: center;
}