/* Style de base pour le header */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:ital,wght@1,900&family=Ranchers&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Sriracha&display=swap');

.Header-container {
  background-color: #1f2349;
  color: #fff;
  padding: 25px 35px;
  display: flex;
  justify-content: center; /* Centre la div "Accueil" */
  align-items: center;
  border-bottom: 10px solid #b79e5d;
}

.header-title {
  font-family: 'Sriracha', cursive;
  font-size: 20px;
  margin-left: auto; /* Déplace la div "Accueil" à droite */
  color: #b79e5d;
  text-decoration: none; /* Annule le style de bouton */
  cursor: default; /* Désactive le curseur de type main */
  display: inline; /* Affiche le titre comme du texte en ligne */
}
  .Header-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .Header-menu li {
    margin-right: 20px;
    position: relative;
  }
  
  /* Style du menu déroulant */
  .menu-dropdown .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
  }
  
  .menu-dropdown:hover .submenu {
    display: block;
    background-color: rgb(59, 164, 96);
  }
  
  /* Style des liens dans le menu déroulant */
  .submenu li {
    margin: 0;
    padding: 5px 0;
  }
  
  .submenu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  a {
    color: inherit; /* Assurez-vous que la couleur du lien est héritée */
    transition: color 0.3s ease, background-color 0.3s ease; /* Ajoutez une transition pour une animation en douceur */
  }
  

 a:hover{
    color: darkred;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(12, 18, 18);
  }

  a:active{
color: darkblue;
  }
  
  /* Style pour le lien principal du menu déroulant */
  .menu-dropdown .weight {
    cursor: pointer;
  }

  .weight{
    font-family: 'Sriracha', cursive;
    font-weight: bolder;
    border-left: 2px solid aliceblue;
    padding: 2vh;
    margin: 2vw;
    background-color:#b79e5d ;
  }

  .weight:hover{
    background-color: darkgrey;
    padding: 2vh;
    margin: 2vw;
  }
  
  