
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:ital,wght@1,900&family=Ranchers&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Sriracha&display=swap');



/* 
.header-title {
  font-family: 'Sriracha', cursive;
  font-size: 20px;
  margin-left: auto;
  color: #b79e5d;
  text-decoration: none;
  cursor: default;
  display: inline; 
}
  .Header-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .Header-menu li {
    margin-right: 20px;
    position: relative;
  }
  
  
  .menu-dropdown .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
  }
  
  .menu-dropdown:hover .submenu {
    display:block;
    background-color: rgb(59, 164, 96);
  }
  
  
  .submenu li {
    margin: 0;
    padding: 5px 0;
  } */
  
  .submenu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  a {
    color: inherit; 
    transition: color 0.3s ease, background-color 0.3s ease; 
  }
  



  .menu-dropdown .weight {
    cursor: pointer;
  }

  .weight{
    position: static;
    font-family: 'Sriracha', cursive;
    font-weight: bolder;
    border-radius: 20px 20px;
    padding: 10px;
    margin: 10px;
    background-color: #b79e5d;
  }

  .weight:hover{
    background-color: darkgrey;
  }

  .Header-back {
    position: absolute;
    left: 10px;
    top: 20px; 
    background-color:#b79e5d ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

@media screen and (max-width: 768px) {

  /* .header-title {
    font-size: 16px; 
  }

  .Header-menu {
    flex-direction: column; 
  }

  .Header-menu li {
    margin-right: 0; 
    margin-bottom: 10px; 
  }

  .weight{
    margin: 1%;
    padding: 10%;
  }

  .weight:hover{
    background-color: darkgrey;
  } */

  .Header-back{
    font-size: 10px;
  }


}
