@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:ital,wght@1,900&family=Ranchers&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Sriracha&display=swap');

.icon-tap {
  /* font-family: 'Wire One', sans-serif; */
    font-family: 'Sriracha', cursive;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    grid-gap: 20px; /* Espacement entre les éléments */
    margin-left: 25px;
  }
  
  .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    text-align: center; /* Alignez le texte au centre */
    
  }
  
  .icon-box.last-icon-box {
    justify-content: flex-end; /* Alignez la dernière boîte à droite */
  }
  
  .icon-box button {
    margin-bottom: 10px; /* Espacement entre l'image et le texte */
    background-color:#1f2349;
    text-decoration: none;
  }
  
  .icon-tap img {
    /* width: 75%; */
    border:10px solid #b79e5d;
    background-color:#1f2349 
  }
  
  .list-description {
    color: #80e3cf;
    text-align: center; /* Alignez le texte au centre */
  }

  .custom-link {
    color: #3498db; 
    text-decoration: none; 
  }
  
  /* Styles par défaut */

/* Ajoutez vos styles par défaut ici */

/* Media queries pour les écrans plus petits, comme les téléphones mobiles */

@media screen and (max-width: 768px) {
  .icon-tap {
    grid-template-columns: 1fr; /* Une seule colonne pour les petits écrans */
    grid-gap: 10px; /* Réduisez l'espacement entre les éléments */
    margin-left: 0; /* Supprimez la marge pour un espacement uniforme */
  }

  .icon-box {
    font-size: 30px; /* Réduisez la taille de la police pour les petits écrans */
    text-align: center; /* Réglez le texte au centre */
  }

  .icon-box button {
    margin-bottom: 5px; /* Réduisez l'espacement entre l'image et le texte */
    font-size: 20px; /* Réduisez la taille de la police pour les petits écrans */
  }

  .icon-tap img {
    width: 50%; /* Réduisez la largeur de l'image */
    border: 5px solid #b79e5d;
  }

  .list-description {
    font-size: 16px; /* Réduisez la taille de la police pour les petits écrans */
  }
}

  